
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: black;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
}

.icon {
  margin-right: 15px;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  background-color: #888;
}

.card {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.card-image {
  width: 35%;
  height: auto;
  border-radius: .5rem;
  margin-top: 1.7rem;

}

.card-content {
  padding: 15px;
  padding-top: 2rem;

}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-location {
  color: black;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1rem;
}
